*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: system-ui;
  padding: 1rem;
}

h1,
p {
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}

custom-element {
  background-color: aliceblue;
  border: black solid 0.25rem;
  padding: 1rem;
}
